.list{
    color:#ffff;
    width:300px;
    background-color:#bf07ac;
    height:50px;
    margin: 20px auto;
    border-radius:5px;
}

.list p{
    padding:10px;
    position: relative;
}

.delete{
    position:absolute;
    right:10px;
    cursor: pointer;
}



.fadelete{
    font-size:20px;
    margin:5px;
}

.list p input{
    background-color:transparent;
    border:0;
    font-size:18px;
    color:#ffff;
}

.list p input:focus{
    outline:none;
}
